body{
    background:gray;
}

#mainpart{
    position: absolute;
    display: grid;
    width: 100vw;
    height: 65vh;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
    justify-content: center;
    align-content: center;
}
/* For 3*3 height =100vh and for 5*5 size of column androw is 70 else 100px */